In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('data/yellow_tripdata_2022-01.parquet').head(10)  # sampling data
df_taxi_zone = pd.read_csv('data/taxi_zones.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [3]:
def get_coordinates(id, column='x'):
    try:
        return df_taxi_zone[df_taxi_zone['location_id'] == id][[f'coordinate_{column}']].values[0][0]
    except IndexError:
        return 0

In [4]:
get_coordinates(3), get_coordinates(2024)  #Testing Function

(-73.84742223236718, 0)

In [5]:
df_taxi_zone

     location_id                       zone  coordinate_x  coordinate_y
0              1             Newark Airport    -74.174000     40.691831
1              2                Jamaica Bay    -73.831299     40.616745
2              3    Allerton/Pelham Gardens    -73.847422     40.864474
3              4              Alphabet City    -73.976968     40.723752
4              5              Arden Heights    -74.188484     40.552659
..           ...                        ...           ...           ...
258          256  Williamsburg (South Side)    -73.959905     40.710880
259          259         Woodlawn/Wakefield    -73.852215     40.897932
260          260                   Woodside    -73.906306     40.744235
261          261         World Trade Center    -74.013023     40.709139
262          262             Yorkville East    -73.946510     40.775932

[263 rows x 4 columns]

In [6]:
df["PULocation_x"]= df.apply(lambda row: get_coordinates(row["PULocationID"]), axis=1)
df["PULocation_y"]= df.apply(lambda row: get_coordinates(row["PULocationID"], 'y'), axis=1)
df["DOLocation_x"]= df.apply(lambda row: get_coordinates(row["DOLocationID"]), axis=1)
df["DOLocation_y"]= df.apply(lambda row: get_coordinates(row["PULocationID"],'y'), axis=1)

df.drop(['PULocationID', 'DOLocationID'], axis=1, inplace=True)

In [7]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,payment_type,fare_amount,extra,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,PULocation_x,PULocation_y,DOLocation_x,DOLocation_y
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,1,14.5,3.0,...,3.65,0.00,0.3,21.95,2.5,0.0,-73.981532,40.773633,-73.957012,40.773633
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,1,8.0,0.5,...,4.00,0.00,0.3,13.30,0.0,0.0,-73.957012,40.780436,-73.940772,40.780436
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,1,7.5,0.5,...,1.76,0.00,0.3,10.56,0.0,0.0,-73.961764,40.809457,-73.961764,40.809457
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,2,8.0,0.5,...,0.00,0.00,0.3,11.80,2.5,0.0,-73.997380,40.728340,-73.999917,40.728340
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,1,23.5,0.5,...,3.00,0.00,0.3,30.30,2.5,0.0,-73.999917,40.748428,-73.977569,40.748428
5,1,2022-01-01 00:40:15,2022-01-01 01:09:48,1.0,10.30,1.0,N,1,33.0,3.0,...,13.00,6.55,0.3,56.35,2.5,0.0,-73.873629,40.774376,-73.977698,40.774376
6,2,2022-01-01 00:20:50,2022-01-01 00:34:58,1.0,5.07,1.0,N,1,17.0,0.5,...,5.20,0.00,0.3,26.00,2.5,0.0,-73.970443,40.749914,-74.007496,40.749914
7,2,2022-01-01 00:13:04,2022-01-01 00:22:45,1.0,2.02,1.0,N,2,9.0,0.5,...,0.00,0.00,0.3,12.80,2.5,0.0,-73.973049,40.791705,-73.953782,40.791705
8,2,2022-01-01 00:30:02,2022-01-01 00:44:49,1.0,2.71,1.0,N,1,12.0,0.5,...,2.25,0.00,0.3,18.05,2.5,0.0,-73.961764,40.809457,-73.957012,40.809457
9,2,2022-01-01 00:48:52,2022-01-01 00:53:28,1.0,0.78,1.0,N,2,5.0,0.5,...,0.00,0.00,0.3,8.80,2.5,0.0,-73.957012,40.780436,-73.959635,40.780436